body {
    background-color: #333232;
}

#container {
    background-color: #0E2431;
    border: 5px solid #F5E4C3;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(192, 191, 191);
}

#output {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}